.git
.github
.venv
.vscode
.claude
.pytest_cache
.ruff_cache
.DS_Store
.Trash-501
__pycache__
tasks
tests
pyrightconfig.json
.ruff.toml
.hadolint.yaml
.gitignore
LICENSE
README.md
Dockerfile.dev
Dockerfile.release
